<main>
  <div class="container">

    <h1>Eat-Da-Borgar!</h1>
    <div class="flex-row">

      <div class="flex-small">
        <h2>Burgers that are not devoured:</h2>

        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>

        <img src="/assets/css/borgar.jpg" alt="Zero Two requesting a borgar.">
      
      <div class="flex-small">
        <h2>Burgers that have been devoured:</h2>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="flex-row">
      <h2>Add a Burger</h2>
      <form id="create-form">

        <div class="form-group">
          <label for="bu">Burger Name:</label>
          <input type="text" id="bu" name="name">
        </div>

        <div class="form-group">
          <label for="devoured">Devoured?</label><br>
          <input type="radio" name="devoured" value="1" id="devoured" checked> Devoured<br>
          <input type="radio" name="devoured" value="0" id="notDevoured"> Not Devoured
        </div>

        <button type="submit">Add Burger</button>
      </form>
    </div>
</main>
